<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">

    <script src="/js/ie-emulation-modes-warning.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Node.JS 全栈博客系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/admin/users/layout">
                    <i class="fa fa-unlock fa-lg"></i>&nbsp;
                注销
                </a>
            </li>
            <li><a href="#"><i class="fa fa-question fa-lg"></i>&nbsp;帮助</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/admin/posts"><i class="fa fa-files-o fa-lg"></i>&nbsp;文章列表 <span class="sr-only">(current)</span></a></li>
            <li><a href="/admin/posts/add"><i class="fa fa-file-text fa-lg"></i>&nbsp;添加文章</a></li>
            <li><a href="/admin/categories"><i class="fa fa-list fa-lg"></i>&nbsp;分类列表</a></li>
            <li><a href="/admin/categories/add"><i class="fa fa-plus fa-lg"></i>&nbsp;添加分类</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/admin/users/password"><i class="fa fa-lock fa-lg"></i>&nbsp;修改密码</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>
          <table class="table table-bordered">
            <thead>
              <tr>
                  <th width="30%">标题</th>
                  <th>分类</th>
                  <th>作者</th>
                  <th>时间</th>
                  <th>被赞</th>
                  <th>评论</th>
                  <th>状态</th>
                  <th>管理</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0;i<posts.length;i++){%>
                  <tr>
                      <td><a href="/posts/view/<%=posts[i]._id%>" target="_blank"><%=posts[i].title%></a></td>
                      <td><%=posts[i].category.name%></td>
                      <td><%=posts[i].author.name%></td>
                      <td><%=moment(posts[i].created).format('YYYY-MM-DD HH:mm:ss')%></td>
                      <td><%=posts[i].meta.favourates || 0%></td>
                      <td><%=posts[i].comments.length%></td>
                      <td><%=posts[i].published?'已发布':'待发布'%></td>
                      <td>
                          <a href="/posts/view/<%=posts[i]._id%>" class="btn btn-sm btn-success" target="_blank">查看</a>&nbsp;&nbsp;
                          <a href="/admin/posts/edit/<%=posts[i]._id%>" class="btn btn-sm btn-info" >编辑</a>&nbsp;&nbsp;
                          <a href="/admin/posts/delete/<%=posts[i]._id%>" class="btn btn-sm btn-danger">删除</a>&nbsp;&nbsp;
  
                      </td>
                  </tr>
              <%}%>
            </tbody>
        </table>
        <!-- 分页 -->
        <%if(pageCount>1){%>
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <%for(var i = 1;i<=pageCount;i++){%>
                <%if(i === pageNum){%>
                  <li class="active"><a href="/admin/posts/page=<%=i%>"><%=i%></a></li>
                <%} else{%>
                  <li><a href="/admin/posts?page=<%=i%>"><%=i%></a></li>
                <%}%>
              <%}%>
            </ul>
          </nav>
          <%}%>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
